[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
	signingkey = /Users/skylercarlson/.ssh/id_ed25519.pub
	name = Skyler Carlson
	email = skylercarlson28@gmail.com
[core]
	pager = bat
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/op plugin run -- gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/op plugin run -- gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
