[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKLgvkMP0AynR7eqx6Bb2rrxI0hNUMkd3S3thwK/9tCF
	name = Skyler Carlson
	email = skylercarlson28@gmail.com
[core]
	pager = bat
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/op plugin run -- gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/op plugin run -- gh auth git-credential
